
/*
Font comes from Google Fonts:
https://fonts.google.com/specimen/Kumbh+Sans?preview.script=Latn
*/


body {
    text-align: center;
    background: linear-gradient(#96735D, rgb(130, 0, 0));
    color: whitesmoke;
    line-height: 1.5;
    font-family: "Kumbh Sans";
}

/*YWSW summary*/

/* Rules of Play Title*/
h2 {
  font-family: "Metal Mania";
  font-size: 4.5em
}

/* Actual rule */
h4 {
  font-size: larger
}

/*Rule subtext*/
h5 {
  margin: 0 10%;
}

*{
  line-height: 1.5;
}

h6 {
  color: #44E5EB;
}


.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.orpheus_flag{
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}
.orpheus_flag:hover {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.catragon_icon{
  border-radius: 20%;
}